@page
@model AT_TourManager.Pages.ReservaPage.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reserva.Cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reserva.Cliente.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reserva.PacoteTuristico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reserva.PacoteTuristico.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reserva.DataReserva)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reserva.DataReserva)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reserva.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reserva.IsDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reserva.DeletedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reserva.DeletedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reserva.DeletedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reserva.DeletedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reserva.NumeroDiarias)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reserva.NumeroDiarias)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reserva.ValorTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reserva.ValorTotal)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Reserva.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
