@page
@model AT_TourManager.Pages.Destinos.DetailsModel

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Details</h1>

<div>
    <h4>Destino</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Cidade
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Destino.Nome)
        </dd>
        <dt class="col-sm-2">
            País
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Destino.PaisDestino.Nome)
        </dd>
        <dt class="col-sm-2">
            Imagem
        </dt>
        <dd class="col-sm-10">
            @Html.Raw($"<img src='{Model.Destino.ImagemUrl}' alt='Imagem do destino' width='200'' />")
        </dd>
    </dl>
</div>
<div>
    <h4>Pacotes Turísticos</h4>
    <hr />
    @if (Model.Destino.PacotesTuristicos.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Ponto Turístico</th>
                    <th>Preço</th>
                    <th>Data de Início</th>
                    <th>Vagas</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pacote in Model.Destino.PacotesTuristicos)
                {
                    <tr>
                        <td>@pacote.Titulo</td>
                        <td>@pacote.Preco.ToString("C")</td>
                        <td>@pacote.DataInicio.ToString("d")</td>
                        <td>@pacote.CapacidadeMaxima</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Nenhum pacote turístico encontrado para este destino.</p>
    }
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Destino.Id" class="btn btn-edit">Editar</a> |
    <a asp-page="./Index" class="btn btn-back">Voltar</a>
</div>
